<p id="notice"><%= notice %></p>

<h1>Beholders</h1>

<table>
  <thead>
    <tr>
      <th>Sale</th>
      <th>Name1</th>
      <th>Profession1</th>
      <th>Designation1</th>
      <th>City1</th>
      <th>Address1</th>
      <th>Mobile1</th>
      <th>Officaddress1</th>
      <th>Officmobile1</th>
      <th>Cnic21</th>
      <th>Beholderimg1</th>
      <th>Name2</th>
      <th>Profession2</th>
      <th>Designation2</th>
      <th>City2</th>
      <th>Address2</th>
      <th>Mobile2</th>
      <th>Officaddress2</th>
      <th>Officmobile2</th>
      <th>Cnic2</th>
      <th>Beholderimg2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @beholders.each do |beholder| %>
      <tr>
        <td><%= beholder.sale %></td>
        <td><%= beholder.name1 %></td>
        <td><%= beholder.profession1 %></td>
        <td><%= beholder.designation1 %></td>
        <td><%= beholder.city1 %></td>
        <td><%= beholder.address1 %></td>
        <td><%= beholder.mobile1 %></td>
        <td><%= beholder.officaddress1 %></td>
        <td><%= beholder.officmobile1 %></td>
        <td><%= beholder.cnic21 %></td>
        <td><%= beholder.beholderimg1 %></td>
        <td><%= beholder.name2 %></td>
        <td><%= beholder.profession2 %></td>
        <td><%= beholder.designation2 %></td>
        <td><%= beholder.city2 %></td>
        <td><%= beholder.address2 %></td>
        <td><%= beholder.mobile2 %></td>
        <td><%= beholder.officaddress2 %></td>
        <td><%= beholder.officmobile2 %></td>
        <td><%= beholder.cnic2 %></td>
        <td><%= beholder.beholderimg2 %></td>
        <td><%= link_to 'Show', beholder %></td>
        <td><%= link_to 'Edit', edit_beholder_path(beholder) %></td>
        <td><%= link_to 'Destroy', beholder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beholder', new_beholder_path %>
