<div class="container">
  <p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-6">
    <table class="table table-bordered">
      <h3>beholder#01</h3>
      <tr>
        <th>
          Product Image
        </th>
        <td><%= image_tag(@beholder.beholderimg1.url, size: "100x100",class:"img-thumbnail") if @beholder.beholderimg1? %>
        </td>
      </tr>



      <tr>
        <th>
          Sale
        </th>
        <td> 
          <%= @beholder.id %>
        </td>
      </tr>



      <tr>
        <th>
          Name
        </th>
        <td>
         <%= @beholder.name1 %>
        </td>
      </tr>



      <tr>
        <th>
          Profession
        </th>
        <td> <%= @beholder.profession1 %>
        </td>
      </tr>


      <tr>
        <th>
          Designation
        </th>
        <td> <%= @beholder.designation1 %>
        </td>
      </tr>


      <tr>
        <th>
          City
        </th>
        <td> <%= @beholder.city1 %>
        </td>
      </tr>



      <tr>
        <th>
          Address
        </th>
        <td> <%= @beholder.address1 %>
        </td>
      </tr>



      <tr>
        <th>
          Mobile
        </th>
        <td> <%= @beholder.mobile1 %>
        </td>
      </tr>

      <tr>
        <th>
          Offic Address
        </th>
        <td> <%= @beholder.officaddress1 %>
        </td>
      </tr>
       

          <tr>
        <th>
          Offic Mobile
        </th>
        <td> <%= @beholder.officmobile1 %>
        </td>
      </tr>


         <tr>
        <th>
          CNIC
        </th>
        <td> <%= @beholder.cnic21 %>
        </td>
      </tr>


    </table>

  </div>
  <div class="col-md-6">
    <table class="table table-bordered">
        <h3>beholder#02</h3>
      <tr>
        <th>
          Product Image
        </th>
        <td><%= image_tag(@beholder.beholderimg1.url, size: "100x100",class:"img-thumbnail") if @beholder.beholderimg1? %>
        </td>
      </tr>



      <tr>
        <th>
          Sale
        </th>
        <td> 
          <%= @beholder.id %>
        </td>
      </tr>



      <tr>
        <th>
          Name
        </th>
        <td>
         <%= @beholder.name2 %>
        </td>
      </tr>



      <tr>
        <th>
          Profession
        </th>
        <td> <%= @beholder.profession2 %>
        </td>
      </tr>


      <tr>
        <th>
          Designation
        </th>
        <td> <%= @beholder.designation2 %>
        </td>
      </tr>


      <tr>
        <th>
          City
        </th>
        <td> <%= @beholder.city2 %>
        </td>
      </tr>



      <tr>
        <th>
          Address
        </th>
        <td> <%= @beholder.address2 %>
        </td>
      </tr>



      <tr>
        <th>
          Mobile
        </th>
        <td> <%= @beholder.mobile2 %>
        </td>
      </tr>

      <tr>
        <th>
          Offic Address
        </th>
        <td> <%= @beholder.officaddress2 %>
        </td>
      </tr>
       

          <tr>
        <th>
          Offic Mobile
        </th>
        <td> <%= @beholder.officmobile2 %>
        </td>
      </tr>


         <tr>
        <th>
          CNIC
        </th>
        <td> <%= @beholder.cnic2 %>
        </td>
      </tr>


    </table>

  </div>
  
</div>
    

  <%= link_to 'Edit', edit_beholder_path(@beholder) %> |
  <%= link_to 'Back', beholders_path %>
</div>