<p id="notice"><%= notice %></p>

<p>
  <strong>Sale:</strong>
  <%= @beholder.sale %>
</p>

<p>
  <strong>Name1:</strong>
  <%= @beholder.name1 %>
</p>

<p>
  <strong>Profession1:</strong>
  <%= @beholder.profession1 %>
</p>

<p>
  <strong>Designation1:</strong>
  <%= @beholder.designation1 %>
</p>

<p>
  <strong>City1:</strong>
  <%= @beholder.city1 %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @beholder.address1 %>
</p>

<p>
  <strong>Mobile1:</strong>
  <%= @beholder.mobile1 %>
</p>

<p>
  <strong>Officaddress1:</strong>
  <%= @beholder.officaddress1 %>
</p>

<p>
  <strong>Officmobile1:</strong>
  <%= @beholder.officmobile1 %>
</p>

<p>
  <strong>Cnic21:</strong>
  <%= @beholder.cnic21 %>
</p>

<p>
  <strong>Beholderimg1:</strong>
  <%= @beholder.beholderimg1 %>
</p>

<p>
  <strong>Name2:</strong>
  <%= @beholder.name2 %>
</p>

<p>
  <strong>Profession2:</strong>
  <%= @beholder.profession2 %>
</p>

<p>
  <strong>Designation2:</strong>
  <%= @beholder.designation2 %>
</p>

<p>
  <strong>City2:</strong>
  <%= @beholder.city2 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @beholder.address2 %>
</p>

<p>
  <strong>Mobile2:</strong>
  <%= @beholder.mobile2 %>
</p>

<p>
  <strong>Officaddress2:</strong>
  <%= @beholder.officaddress2 %>
</p>

<p>
  <strong>Officmobile2:</strong>
  <%= @beholder.officmobile2 %>
</p>

<p>
  <strong>Cnic2:</strong>
  <%= @beholder.cnic2 %>
</p>

<p>
  <strong>Beholderimg2:</strong>
  <%= @beholder.beholderimg2 %>
</p>

<%= link_to 'Edit', edit_beholder_path(@beholder) %> |
<%= link_to 'Back', beholders_path %>
