<%= form_with(model: sale, local: true) do |form| %>
  <% if sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Uniq_product_ID %>
    <%= form.text_field :product_id,class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :customer_CNIC %>
    <%= form.text_field :cnic ,class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :discount_in_percentage %>
    <%= form.number_field :discount ,class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :Total_Instalment %>
    <%= form.number_field :netinstalment ,class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :net_balance %>
    <%= form.number_field :netbalance,class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :Product_Price %>
    <%= form.text_field :netproductprice ,class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :instalment_price %>
    <%= form.number_field :instalmentprice ,class:"form-control"%>
  </div>
    <div class="field">
    <%= form.label :paid_Money %>
    <%= form.number_field :paidmoney ,class:"form-control"%>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>Beholder#01 Info</h3>
      <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name1 ,class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :profession %>
    <%= form.text_field :profession1 ,class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :designation %>
    <%= form.text_field :designation1 ,class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city1 ,class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address1 ,class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :mobile %>
    <%= form.text_field :mobile1 ,class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :officaddress %>
    <%= form.text_field :officaddress1 ,class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :officmobile%>
    <%= form.text_field :officmobile1 ,class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :cnic %>
    <%= form.text_field :cnic21 ,class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :beholderimg %>
    <%= form.file_field :beholderimg1 ,class:"form-control"%>
  </div>

    </div>
    <div class="col-md-6">
       <h3>Beholder#02 Info</h3>
        <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name2,class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :profession %>
    <%= form.text_field :profession2,class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :designation %>
    <%= form.text_field :designation2 ,class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :city%>
    <%= form.text_field :city2 ,class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address2 ,class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :mobile %>
    <%= form.text_field :mobile2 ,class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :officaddress %>
    <%= form.text_field :officaddress2 ,class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :offic_mobile %>
    <%= form.text_field :officmobile2 ,class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :cnic %>
    <%= form.text_field :cnic2 ,class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :beholder_img %>
    <%= form.file_field :beholderimg2 ,class:"form-control"%>
  </div>
    </div>
  </div>
  


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
