<p id="notice"><%= notice %></p>
  <table class="table table-bordered">
     
       <tr>
        <th>
          CNIC
        </th>
        <td> 
          <%= @sale.cnic %>
        </td>
      </tr>



       <tr>
        <th>
          Product ID
        </th>
        <td>
         <%= @sale.product_id %>
        </td>
      </tr>



       <tr>
        <th>
          Discount
        </th>
        <td> <%= @sale.discount %>
        </td>
      </tr>


       <tr>
        <th>
          paid Money
        </th>
        <td> <%= @sale.paidmoney %>
        </td>
      </tr>


       <tr>
        <th>
          Net Instalment
        </th>
        <td> <%= @sale.netinstalment %>
        </td>
      </tr>



       <tr>
        <th>
          Net Balance
        </th>
        <td> <%= @sale.netbalance %>
        </td>
      </tr>



       <tr>
        <th>
          Net Product Price
        </th>
        <td> <%= @sale.netproductprice %>
        </td>
      </tr>


       <tr>
        <th>
          Instalment Price
        </th>
        <td> <%= @sale.instalmentprice %>
        </td>
      </tr>


       
    </table>


<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
