<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">

        <%= image_tag(current_user.profileimg.url, size: "300x300", class: "img-circle") if current_user.profileimg? %>
      </div>
      <div class="pull-left info">
        <p><%#=current_user.name.camelize %></p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- search form -->
    <!--<form action="#" method="get" class="sidebar-form">-->
    <!--<div class="input-group">-->
    <!--<input type="text" name="q" class="form-control" placeholder="Search...">-->
    <!--<span class="input-group-btn">-->
    <!--<button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>-->
    <!--</button>-->
    <!--</span>-->
    <!--</div>-->
    <!--</form>-->
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class=""><a href=""><i class="fa fa-home"></i></a></li>

      <li id="classes" class=" treeview">
        <a href="#">
          <i class="fa fa-files-o"></i>
          <span>Products</span>
          <span class="pull-right-container">
              <span class="label label-primary pull-right">2</span>
            </span>
        </a>
        <ul class="treeview-menu">
          <li class=""><a href="<%=new_product_path%>"><i class="fa fa-circle-o"></i>Add Product</a></li>
          <li><a href="<%=products_path%>"><i class="fa fa-circle-o"></i>View Products</a></li>
        </ul>
      </li>
            <li id="sections" class=" treeview">
        <a href="#">
          <i class="fa fa-files-o"></i>
          <span>Customer</span>
          <span class="pull-right-container">
              <span class="label label-primary pull-right">2</span>
            </span>
        </a>
        <ul class="treeview-menu">
          <li class=""><a href="<%=new_customer_path%>"><i class="fa fa-circle-o"></i>Add Customer</a></li>
          <li><a href="<%=customers_path%>"><i class="fa fa-circle-o"></i>View Customer</a></li>
        </ul>
      </li>
              <li id="shifts" class=" treeview">
        <a href="#">
          <i class="fa fa-files-o"></i>
          <span>Beholder</span>
          <span class="pull-right-container">
              <span class="label label-primary pull-right">2</span>
            </span>
        </a>
        <ul class="treeview-menu">
          <li class=""><a href="<%=new_beholder_path%>"><i class="fa fa-circle-o"></i>Add Beholder</a></li>
          <li><a href="<%=beholders_path%>"><i class="fa fa-circle-o"></i>View Beholder</a></li>
        </ul>
      </li>
            <li id="establishclasses" class=" treeview">
        <a href="#">
          <i class="fa fa-files-o"></i>
          <span>Accounts</span>
          <span class="pull-right-container">
              <span class="label label-primary pull-right">2</span>
            </span>
        </a>
        <ul class="treeview-menu">
          <li class=""><a href="<%= search_products_path%>"><i class="fa fa-circle-o"></i>Add instalment</a></li>
          <li><a href="<%=view_instalment_path%>"><i class="fa fa-circle-o"></i>View instalment</a></li>
        </ul>
      </li>
      
      <li  id="teachers"class="treeview">
        <a href="#">
          <i class="fa fa-files-o"></i>
          <span>Sale</span>
          <span class="pull-right-container">
              <span class="label label-primary pull-right">2</span>
            </span>
        </a>
        <ul class="treeview-menu">





          <li><a href="<%=new_sale_path%>"><i class="fa fa-circle-o"></i> Sale product</a></li>
          <li><a href="<%=sales_path%>"><i class="fa fa-circle-o"></i> View Sale</a></li>
        

        </ul>
      </li>
<!--
      <li id="sudents" class="treeview">
        <a href="#">
          <i class="fa fa-files-o"></i>
          <span>Student</span>
          <span class="pull-right-container">
              <span class="label label-primary pull-right">2</span>
            </span>
        </a>
        <ul class="treeview-menu">
          <li><a href=""><i class="fa fa-circle-o"></i> Add Student</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i> View Students</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i> Search Student</a></li>

        </ul>
      </li>


      <li id="employes" class="treeview">
        <a href="#">
          <i class="fa fa-files-o"></i>
          <span>Employee</span>
          <span class="pull-right-container">
              <span class="label label-primary pull-right">2</span>
            </span>
        </a>
        <ul class="treeview-menu">
          <li><a href=""><i class="fa fa-circle-o"></i> Add Employee</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i> View Employee</a></li>

        </ul>
      </li>


      <li id="parrents" class="treeview">
        <a href="#">
          <i class="fa fa-files-o"></i>
          <span>Parrents</span>
          <span class="pull-right-container">
              <span class="label label-primary pull-right">2</span>
            </span>
        </a>
        <ul class="treeview-menu">
          <li><a href=""><i class="fa fa-circle-o"></i> Add Parrents</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i> View Parrents</a></li>

        </ul>
      </li>

      <li id="cources" class="treeview">
        <a href="#">
          <i class="fa fa-files-o"></i>
          <span>Cources</span>
          <span class="pull-right-container">
              <span class="label label-primary pull-right">2</span>
            </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="<%#=new_cource_path%>"><i class="fa fa-circle-o"></i> Add cources</a></li>
          <li><a href="<%#=cources_path%>"><i class="fa fa-circle-o"></i> View cources</a></li>
           <li><a href="<%#=search_path%>"><i class="fa fa-circle-o"></i> View cources</a></li>

          <li class="treeview">
            <a href="#">
              <i class="fa fa-folder"></i> <span>Allocate Cources</span>
              <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
              <li><a href=""><i class="fa fa-circle-o"></i>Allocate Cource</a></li>
              <li><a href=""><i class="fa fa-circle-o"></i>View Allocate Cource</a></li>
              <li><a href=""><i class="fa fa-circle-o"></i>search Allocate Cource</a></li>



            </ul>
          </li>
        </ul>
      </li>




     <!--  <li id="attandance"class="treeview">
        <a href="#">
          <i class="fa fa-files-o"></i>
          <span>Attendance</span>
          <span class="pull-right-container">
              <span class="label label-primary pull-right">2</span>
            </span>
        </a>
        <ul class="treeview-menu">
          <li><a href=""><i class="fa fa-circle-o"></i>View Attendance</a></li> -->
          <!--                <li><a href="--><?php //echo $_SESSION["domain"]; ?><!--cource/view_class_cource/view_class_cource.php"><i class="fa fa-circle-o"></i>View Allocate Cource</a></li>-->
          <!--                <li><a href="--><?php //echo $_SESSION["domain"]; ?><!--cource/search_class_cource/search_class_cource.php"><i class="fa fa-circle-o"></i>search Allocate Cource</a></li>-->
          <!---->

        </ul>
      </li>


    <!--   <li id="timetable"class="treeview">
        <a href="#">
          <i class="fa fa-files-o"></i>
          <span>Time Table</span>
          <span class="pull-right-container">
              <span class="label label-primary pull-right">2</span>
            </span>
        </a>
                    <ul class="treeview-menu"> -->
        <!--                <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> Teacher Attandace</a></li>-->
        <!--                <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> Students Attandance</a></li>-->
        <!---->
        <!--            </ul>-->
      </li>

<!-- 

      <li id="examschedule"class="treeview">
        <a href="#">
          <i class="fa fa-files-o"></i>
          <span>Exam Schedule</span>
          <span class="pull-right-container">
              <span class="label label-primary pull-right">2</span>
            </span>
        </a>
        <ul class="treeview-menu">
          <li><a href=""><i class="fa fa-circle-o"></i>Add Exam Schedule</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i>Search Exam Schedule</a></li>
          <li><a href=""><i class="fa fa-circle-o"></i>View Exam Coupon</a></li>


        </ul>
      </li> -->
 <!--      <li id="accounts" class="treeview">
        <a href="#">
          <i class="fa fa-files-o"></i>
          <span>Accounts</span>
          <span class="pull-right-container">
              <span class="label label-primary pull-right">2</span>
            </span>
        </a>
        <ul class="treeview-menu">
          <li class="treeview">
            <a href="#">
              <i class="fa fa-folder"></i> <span>Students</span>
              <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
              <li><a href=""><i class="fa fa-circle-o"></i>View Class Fee Stracture</a></li>

              <li><a href=""><i class="fa fa-circle-o"></i>search Student Fee</a></li>



              <li><a href=""><i class="fa fa-circle-o"></i> Class Fee compain</a></li>
              <li><a href=""><i class="fa fa-circle-o"></i> View Class Fee compain</a></li>


              <li><a href=""><i class="fa fa-circle-o"></i> Custom Fee Compain</a></li>
              <li><a href=""><i class="fa fa-circle-o"></i> View Custom Fee compain</a></li>
              <li><a href=""><i class="fa fa-circle-o"></i> View Ledgure</a></li>
              <li><a href=""><i class="fa fa-circle-o"></i>Challan</a></li>
              <li><a href=""><i class="fa fa-circle-o"></i>Add/Pay Fee</a></li>



            </ul>
          </li>

        </ul>
      </li> -->
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>